.form_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
input {
  padding: 10px;
  margin: 10px;
  width: 50%;
}
.toast {
  display: flex;
  justify-content: start;
  height: 80px;
  background: #f7f7f7;
  border-radius: 10px;
  box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  animation: slide-in 0.5s ease-out forwards;
}
.toast-content {
  display: flex;
  align-items: center;
  justify-content: start;
}
.before {
  width: 5px;
  height: 80px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background: #a2de96;
}

.icon {
  /*   transform: translate(30px,0); */
  margin-left: 30px;
  width: 35px;
  height: 35px;
  background: #79d70f;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.text {
  width: 400px;
  align-self: flex-start;
  flex-wrap: wrap;
  display: flex;
  align-items: start;
  margin-left: 30px;
  font-family: Tahoma, Arial, "Hiragino Sans GB", "simsun", sans-serif;
}

.text > * {
  margin: 0;
  width: 400px;
}

p:first-child {
  font-weight: bold;
  margin-top: 15px;
}

.message {
  margin-top: 15px;
  font-size: 0.8em;
  color: #878787;
}

@keyframes toast {
  0% {
    opacity: 1;
  }
  100% {
    transform: translate(0, -10px);
    opacity: 0;
  }
}

.toast-area {
  position: absolute;
  left: 0;
  width: 400px;
}

.toast-area > * {
  margin-top: 1em;
}

@keyframes slide-in {
  0% {
    transform: translate(0, -10px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
